.header {
    margin-top: 60px;
}

.headerTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.headerTitle-sm {
    position: absolute;
    top: 18%;
    font-size: 20px;
}

.headerTitle-lg {
    position: absolute;
    top: 20%;
    font-size: 50px;
}

.header-bg {
    background: #D6E5FA;
    width: 100%;
    height: 40px;
    object-fit: cover;
    margin-top: 50px;
}